table {
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap: break-word;
}

.table-wrap {
    height: 600px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.preloader {
    position: fixed;
    left: 50%;
    top: 40%;
}

.center-fixed {
    position: static;
}

.full-width{
    width: 100%;
}