<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs" version="1.5.0" targetFramework="net452" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="5.4.5" targetFramework="net452" />
  <package id="es6-promise.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="jQuery" version="2.2.0" targetFramework="net452" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="3.0.4" targetFramework="net452" />
  <package id="materialize" version="0.97.5" targetFramework="net452" />
  <package id="materializecss" version="0.97.5" targetFramework="net452" />
  <package id="materialize-css.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="1.2.0" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.DependencyCollector" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.JavaScript" version="0.15.0-build58334" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.PerfCounterCollector" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.Web" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel" version="1.2.3" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="node.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
  <package id="pickadate.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net452" />
</packages>